.logo-p {
  height: 100px;
  border-bottom: 7px solid var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2.56rem;

    div {
      color: var(--primary-color);
      font-size: 30px;
      font-family: var(--poppins);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2.56rem;

    .hide {
      background: var(--primary-color);
      width: 24px;
      height: 24px;
    }

    .dashboard-logo {
      display: none !important;
    }

    button,
    .dashboard-logo {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg path {
        fill: #8a92a6;
      }
    }
  }
}

.side-list2 {
  display: none;
}

.side-list,
.side-list2 {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;

  .dashboard {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 58px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s;

    svg {
      margin-left: 25px;
      margin-right: 13px;
    }

    svg path {
      fill: var(--black);
    }

    div {
      color: var(--black);
      font-size: 20px;
      font-family: var(--poppins);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .dashboard:hover {
    background: var(--primary-color);
    border-radius: 72px;

    svg path {
      fill: var(--white);
    }

    div {
      color: var(--white);
    }
  }

  .active {
    background: var(--primary-color);
    border-radius: 72px;
    color: var(--white);

    ::ng-deep .mat-expansion-panel-header-title {
      color: var(--white);
    }

    ::ng-deep .mat-expansion-indicator::after {
      color: var(--white);
    }

    svg path,
    i {
      fill: var(--white);
      color: var(--white);
    }

    .div-text {
      color: var(--white);
    }
  }

  ::ng-deep .mat-expansion-panel-header {
    box-shadow: unset;
    border-radius: 72px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    svg {
      margin-right: 13px;
    }

    svg path,
    i {
      fill: var(--black);
      color: var(--black);
    }
  }

  ::ng-deep .mat-expansion-panel-header:hover {
    background: var(--primary-color) !important;

    .mat-expansion-panel-header-title {
      color: var(--white) !important;
    }

    .mat-expansion-indicator::after {
      color: var(--white) !important;
    }

    svg path,
    i {
      fill: var(--white);
      color: var(--white);
    }
  }

  ::ng-deep .mat-expansion-panel-header-title {
    color: var(--black);
    font-size: 20px;
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    justify-content: left;
    align-items: center;

    svg path,
    i {
      margin-right: 13px;
      color: var(--black);
    }
  }

  ::ng-deep .mat-expansion-panel {
    background: var(--white);
    box-shadow: unset;
    border-radius: unset;
    margin-bottom: 20px;

    .expansion-container {
      width: 100%;

      .active2 {
        button {
          color: var(--primary-color);
        }
      }

      div:hover {
        button {
          color: var(--primary-color);
        }
      }

      .div-text {
        color: var(--black);
      }

      svg path {
        fill: var(--white);
      }

      div {
        margin-top: 13px;

        button {
          margin-left: 20px;
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: center;
          color: var(--black);
          font-size: 15px;
          font-family: var(--poppins);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  ::ng-deep .mat-expansion-indicator::after {
    color: var(--black);
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

@media (max-width: 1279px) {
  .logo-p {
    .icon {
      .hide,
      .unhide {
        display: none;
      }

      .dashboard-logo {
        display: flex !important;
      }
    }
  }

  .side-list {
    display: none;
  }

  .side-list2 {
    display: block;
  }
}
