mat-sidenav-container {
  min-height: 100vh;
  background: var(--bg);
  position: relative;

  .logout-user {
    position: absolute;
    bottom: 70px;
    left: 25%;

    button {
      color: var(--black);
      font-size: 20px;
      font-family: var(--alata);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      vertical-align: middle;

      img {
        margin-right: 18px;
        vertical-align: middle;
      }
    }
  }
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background: rgba(79, 86, 101, 0.2);
}

.sidenav {
  width: 335px;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--white);
  border: unset;
}

.mat-sidenav-content {
  padding-left: 23px;

  .main {
    padding-top: 23px;
    padding-right: 23px;
    padding-bottom: 23px;
  }
}

@media (max-width: 1200px) {
  .mat-sidenav-content {
    padding-left: unset;

    .main {
      padding-left: 23px;
    }
  }
}
